SECRET_KEY=add-a-strong-random-django-secret-key
HUGGINGFACE_API_KEY=add-your-huggingface-api-key
OLLAMA_SERVER=http://host.docker.internal:11434

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres