REACT_APP_MYGPT_VERSION=0.1.2
REACT_APP_REDIRECT_URI=http://localhost:3000/
REACT_APP_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/
REACT_APP_SCOPES=User.Read
REACT_APP_GRAPH_ME_ENDPOINT=microsoft-graph-endpoint-here
REACT_APP_BACKEND_API=http://localhost:8000/
REACT_APP_DEFAULT_LLM=gpt-oss:20b
REACT_APP_MCP_SERVER_URL=http://localhost:5001/sse
REACT_APP_MCP_SHOW_MCP_MENU=true
GENERATE_SOURCEMAP=false