*.log
.DS_Store
*.bin
backend/static/*
backend/media/*
backend/chroma_storage/*
backend/chroma/*
backend/data/data_chunks/*
!backend/data/data_chunks/GPCR.txt
backend/data/pdfs/*
!backend/data/pdfs/GPCR
backend/data/pdfs/GPCR/*_highlighted.pdf
backend/.env
llm_api/static/*
llm_api/.env
google_colab_demo/static/*
static/*
data/*
.cnvrgignore
*.mp4
*.wav
.chroma/*
frontend/public/*.pdf
chroma/chroma_storage/*
*.pyc
.DS_Store
mydatabase
biogpt_api/.env
biogpt_api/static/*
ollama/models/blobs/*
ollama/models/manifests/*
installation/macOS/prebuilt_images/data/*
installation/macOS/prebuilt_images/libraries/papers/*
installation/linux/prebuilt_images/data/*
installation/linux/prebuilt_images/libraries/papers/*