*.log
.DS_Store
*.bin
backend/static/*
backend/.env
llm_api/static/*
llm_api/.env
google_colab_demo/static/*
static/*
data/*
.cnvrgignore
*.mp4
*.wav
.chroma/*
frontend/public/*.pdf
backend/chroma_storage/*
chroma/chroma_storage/*
*.pyc
.DS_Store
mydatabase
biogpt_api/.env
biogpt_api/static/*
ollama/models/blobs/*
ollama/models/manifests/*
installation/macOS/prebuilt_images/data/*
