Django>=3.0,<4.0
psycopg2-binary>=2.8
requests>=2.0
djangorestframework
django-cors-headers
transformers
torch
sacremoses
pypdf2
# datasets
pandas==1.3.5
pyzotero
pymupdf
# huggingface-hub
nltk
numpy
chromadb==0.4.22
tqdm
python-dotenv
pytest-django