Django>=3.0,<4.0
psycopg2-binary>=2.8
requests>=2.0
djangorestframework
django-cors-headers
sacremoses
sentence-transformers
pypdf
pandas
pyzotero
pymupdf
nltk
numpy
chromadb==0.4.22
tqdm
python-dotenv
pytest-django
pytube
youtube_transcript_api
pdfkit
ollama
duckdb
openpyxl
langchain_community