{% comment %} {% load staticfiles %} {% endcomment %}
<html lang="en">

    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is Django template backend app with REST api support.">
		<title>MyGPT Backend</title>
    </head>

    <body>
		<header>
		</header>
		<div style="text-align: center; display: block;">
			<h1> MyGPT Backend App </h1>
			<h3> The App is running!</h3>
			<div style="width: 200px; margin:auto;">
				The app contains {{ datasets.count }} collections.
				{% if datasets %}
					<ul>
						{% for dataset in datasets %}
							<li>{{ dataset.dataset_name }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<h4> go to <a href="http://localhost/api/">http://localhost/api/</a> 
				to access all available API endpoints.</h4>
		</div>
		<div style="text-align:center; padding-top: 10px; width:200px; margin:auto;">
			<h3> Reload sample publication library <h3>
				<form action="#" method="get">
					<input type="submit" class="btn" value="reload library" name="reload_library" style="margin: 5px;">
				</form>
		</div>
		<div style="text-align:center; padding-top: 10px; width:200px; margin:auto;">
			<h3> Add collection from zotero library <h3>
			<form action="#" method="get">
				<input type="text" value="" placeholder="Zotero Group ID" name="group_id" size="20" style="margin: 5px;"/>
				<input type="text" value="" placeholder="Zotero Collection ID" name="collection_id" size="20" style="margin: 5px;"/>
				<input type="submit" class="btn" value="Submit" name="upload_btn" style="margin: 5px;">
			</form>
		</div>
		<div style="text-align:center; padding-top: 10px; width:200px; margin:auto;">
			{% if success %}
				<p style="color:green;">{{ success }}</p>
			{% endif %}
			{% comment %} if error message show it in red {% endcomment %}
			{% if error %}
				<p style="color:red;">{{ error }}</p>
			{% endif %}
		</div>
	</body>
</html> 