{% comment %} {% load staticfiles %} {% endcomment %}
<html lang="en">

    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is Django template backend app with REST api support.">
		<title>MyGPT Backend</title>
    </head>

    <body>
		<header>
		</header>
		<div style="text-align: center; display: block;">
			<h1> MyGPT Backend App </h1>
			<h3> The App is running!</h3>
			<div style="width: 200px; margin:auto;">
				The app contains {{ datasets.count }} collections.
				{% if datasets %}
					<ul>
						{% for dataset in datasets %}
							<li>{{ dataset.dataset_name }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<h4> go to <a href="http://localhost/api/">http://localhost/api/</a> 
				to access all available API endpoints.</h4>
		</div>
		<div style="text-align:center; padding-top: 10px; width:200px; margin:auto;">
			{% if success %}
				<p style="color:green;">{{ success }}</p>
			{% endif %}
			{% comment %} if error message show it in red {% endcomment %}
			{% if error %}
				<p style="color:red;">{{ error }}</p>
			{% endif %}
		</div>
		<div style="text-align:center; padding-top: 10px; width:400px; margin:auto;">
			<h3> Reload sample publication library <h3>
				<form action="#" method="get">
					<input type="submit" class="btn" value="reload library" name="reload_library" style="margin: 5px;">
				</form>
		</div>
		<div style="text-align:center; padding-top: 10px; width:400px; margin:auto;">
			<h3> Add a publication library from zotero library <h3>
			<form action="#" method="get">
				<input type="text" value="" placeholder="Zotero Group ID" name="group_id" size="20" style="margin: 5px;"/>
				<input type="text" value="" placeholder="Zotero Collection ID" name="collection_id" size="20" style="margin: 5px;"/>
				<input type="submit" class="btn" value="Submit" name="upload_btn" style="margin: 5px;">
			</form>
		</div>
		<div style="text-align: center; padding-top: 10px; width:1200px; margin:auto;">
			<h3> Add a publication library from files<h3>
				<form action="#" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div style="margin:5px;">
						<label for="id_dataset_name" style="font-size: 15px; font-weight: normal;">Library Name:</label>
						<input type="text" name="dataset_name" value="" required id="id_dataset_name">
					</div>
					{% for file_index in file_count %}
					{{ from.non_field_errors }}
					<div style="text-align: left">
						<div style="display: inline-block; font-size: 15px; font-weight: normal;">{{file_index}}</div>
						<div style="display: inline-block">
							{{ form.paper_title.errors }}
							<label for="id_paper_title" style="font-size: 15px; font-weight: normal;">Paper Title:</label>
							<input type='text' name="paper_title"  value={{form.paper_title.value}} required id="id_paper_title" size='100'>
						</div>
						<div style="display: inline-block">
							{{ form.paper_attachment.errors }}
							<label for="id_paper_attachment" style="font-size: 15px; font-weight: normal;">Paper Attachment:</label>
							{{ form.paper_attachment }}
						</div>
					</div>
					{% endfor %}
					<input type="submit" class="btn" value="Submit" name="upload_btn" style="margin: 5px;">
					</form>
		</div>
	</body>
</html> 